In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
q1_2019 = pd.read_csv('clean_data/clean_2019Q1.csv')
q2_2019 = pd.read_csv('clean_data/clean_2019Q2.csv')
q3_2019 = pd.read_csv('clean_data/clean_2019Q3.csv')

In [3]:
q1_2019.head()

,funded_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,title_car_financing,title_credit_card_refinancing,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation
0,13500.0,7.56,420.31,68000.0,0.0,15.74,0.0,750.0,754.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,20000.0,17.97,722.75,110000.0,0.0,23.44,0.0,675.0,679.0,0.0,...,0,0,0,0,0,0,1,0,0,0
2,1600.0,11.02,52.40,27840.0,0.0,15.99,0.0,685.0,689.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,6400.0,13.90,218.43,28000.0,0.0,8.62,0.0,700.0,704.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,25000.0,8.19,785.61,130000.0,0.0,23.27,0.0,695.0,699.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
ls_df = [q1_2019,q2_2019,q3_2019]

In [5]:
for df in ls_df: 
    print(df.shape)

(103841, 107)
(118151, 106)
(130793, 104)

In [6]:
for i in range(len(q3_2019.columns)):
    if sorted(list(q3_2019.columns)[i]) != sorted(list(q1_2019.columns)[i]):
        print(str(i)+': '+list(q3_2019.columns)[i]+', '+ list(q1_2019.columns)[i])

76: emp_length_2, grade_E
77: emp_length_3, grade_F
78: emp_length_4, grade_G
79: emp_length_5, emp_length_2
80: emp_length_6, emp_length_3
81: emp_length_7, emp_length_4
82: emp_length_8, emp_length_5
83: emp_length_9, emp_length_6
84: emp_length_10, emp_length_7
85: mortgage, emp_length_8
86: own, emp_length_9
87: status_charged_off, emp_length_10
88: status_fully_paid, mortgage
89: status_in_grace_period, own
90: status_issued, status_charged_off
91: status_late__16_30_days_, status_default
92: status_late__31_120_days_, status_fully_paid
93: title_business, status_in_grace_period
94: title_car_financing, status_late__16_30_days_
95: title_credit_card_refinancing, status_late__31_120_days_
96: title_debt_consolidation, title_business
97: title_green_loan, title_car_financing
98: title_home_buying, title_credit_card_refinancing
99: title_home_improvement, title_debt_consolidation
100: title_major_purchase, title_green_loan
101: title_medical_expenses, title_home_buying
102: title_moving_and_relocation, title_home_improvement
103: title_vacation, title_major_purchase

In [7]:
for i in range(len(q3_2019.columns)):
    if sorted(list(q3_2019.columns))[i] != sorted(list(q1_2019.columns))[i]:
        print(str(i)+': '+sorted(list(q3_2019.columns))[i]+', '+ sorted(list(q1_2019.columns))[i])

28: hardship_flag, grade_E
29: il_util, grade_F
30: income_verified, grade_G
31: inq_fi, hardship_flag
32: inq_last_12m, il_util
33: inq_last_6mths, income_verified
34: installment, inq_fi
35: int_rate, inq_last_12m
36: joint_app, inq_last_6mths
37: last_pymnt_amnt, installment
38: max_bal_bc, int_rate
39: mo_sin_old_il_acct, joint_app
40: mo_sin_old_rev_tl_op, last_pymnt_amnt
41: mo_sin_rcnt_rev_tl_op, max_bal_bc
42: mo_sin_rcnt_tl, mo_sin_old_il_acct
43: mort_acc, mo_sin_old_rev_tl_op
44: mortgage, mo_sin_rcnt_rev_tl_op
45: mths_since_last_delinq, mo_sin_rcnt_tl
46: mths_since_last_major_derog, mort_acc
47: mths_since_last_record, mortgage
48: mths_since_rcnt_il, mths_since_last_delinq
49: mths_since_recent_bc, mths_since_last_major_derog
50: mths_since_recent_bc_dlq, mths_since_last_record
51: mths_since_recent_inq, mths_since_rcnt_il
52: mths_since_recent_revol_delinq, mths_since_recent_bc
53: num_accts_ever_120_pd, mths_since_recent_bc_dlq
54: num_actv_bc_tl, mths_since_recent_inq
55: num_actv_rev_tl, mths_since_recent_revol_delinq
56: num_bc_sats, num_accts_ever_120_pd
57: num_bc_tl, num_actv_bc_tl
58: num_il_tl, num_actv_rev_tl
59: num_op_rev_tl, num_bc_sats
60: num_rev_accts, num_bc_tl
61: num_rev_tl_bal_gt_0, num_il_tl
62: num_sats, num_op_rev_tl
63: num_tl_120dpd_2m, num_rev_accts
64: num_tl_30dpd, num_rev_tl_bal_gt_0
65: num_tl_90g_dpd_24m, num_sats
66: num_tl_op_past_12m, num_tl_120dpd_2m
67: open_acc, num_tl_30dpd
68: open_acc_6m, num_tl_90g_dpd_24m
69: open_act_il, num_tl_op_past_12m
70: open_il_12m, open_acc
71: open_il_24m, open_acc_6m
72: open_rv_12m, open_act_il
73: open_rv_24m, open_il_12m
74: own, open_il_24m
75: pct_tl_nvr_dlq, open_rv_12m
76: percent_bc_gt_75, open_rv_24m
77: pub_rec, own
78: pub_rec_bankruptcies, pct_tl_nvr_dlq
79: pymnt_plan, percent_bc_gt_75
80: recoveries, pub_rec
81: revol_bal, pub_rec_bankruptcies
82: revol_util, pymnt_plan
83: sec_app_fico_range_high, recoveries
84: sec_app_fico_range_low, revol_bal
85: settlement_term, revol_util
86: status_charged_off, sec_app_fico_range_high
87: status_fully_paid, sec_app_fico_range_low
88: status_in_grace_period, settlement_term
89: status_issued, status_charged_off
90: status_late__16_30_days_, status_default
91: status_late__31_120_days_, status_fully_paid
92: term_6_yr, status_in_grace_period
93: title_business, status_late__16_30_days_
94: title_car_financing, status_late__31_120_days_
95: title_credit_card_refinancing, term_6_yr
96: title_debt_consolidation, title_business
97: title_green_loan, title_car_financing
98: title_home_buying, title_credit_card_refinancing
99: title_home_improvement, title_debt_consolidation
100: title_major_purchase, title_green_loan
101: title_medical_expenses, title_home_buying
102: title_moving_and_relocation, title_home_improvement
103: title_vacation, title_major_purchase

In [8]:
q3_2019['grade_E'] = 0
q3_2019['grade_F'] = 0

In [9]:
q3_2019['grade_G'] = 0
q2_2019['grade_G'] = 0

In [10]:
df = pd.concat(ls_df, ignore_index=True)

/Users/alicjaligas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
df.head()

,acc_now_delinq,acc_open_past_24mths,all_util,annual_inc,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,debt_settlement_flag,delinq_2yrs,...,title_car_financing,title_credit_card_refinancing,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation
0,0.0,3.0,47.0,68000.0,15063.0,10893.0,41.4,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0.0,4.0,82.0,110000.0,20625.0,1721.0,68.7,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
2,0.0,5.0,77.0,27840.0,2599.0,9499.0,37.1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.0,18.0,28000.0,590.0,15486.0,20.6,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,0.0,3.0,65.0,130000.0,17163.0,7970.0,77.6,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df['year'] = 2019

In [13]:
df.shape

(352785, 109)

In [14]:
df.fillna(0, inplace=True)

In [15]:
df.isnull().sum().sum()

0

In [16]:
list(df.columns);

In [17]:
df['fico_avg'] = (df['fico_range_low'] + df['fico_range_high']) / 2

In [18]:
df.drop(columns=['fico_range_low','fico_range_high'], inplace=True)

In [19]:
nulls = pd.DataFrame(df.isnull().sum()).rename(columns={0: 'num'})
nulls.loc[nulls['num']>0]

Empty DataFrame
Columns: [num]
Index: []

In [23]:
df_18 = pd.read_csv('year/year_2018.csv')

In [24]:
df_18.head()

,funded_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation,year,fico_avg
0,35000.0,13.58,806.79,160000.0,0.0,7.87,0.0,1.0,0.0,97.0,...,0,0,0,1,0,0,0,0,2018,707.0
1,7000.0,11.98,232.44,40000.0,0.0,20.25,0.0,0.0,60.0,0.0,...,0,0,0,1,0,0,0,0,2018,697.0
2,20000.0,9.92,424.16,69000.0,0.0,21.95,0.0,1.0,42.0,0.0,...,1,0,0,0,0,0,0,0,2018,712.0
3,7000.0,20.39,261.54,41000.0,0.0,30.15,0.0,1.0,39.0,0.0,...,0,0,0,0,0,0,0,0,2018,682.0
4,13400.0,16.01,325.94,94000.0,0.0,14.26,0.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,742.0

In [25]:
df.head()

,acc_now_delinq,acc_open_past_24mths,all_util,annual_inc,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,debt_settlement_flag,delinq_2yrs,...,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation,year,fico_avg
0,0.0,3.0,47.0,68000.0,15063.0,10893.0,41.4,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,752.0
1,0.0,4.0,82.0,110000.0,20625.0,1721.0,68.7,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,2019,677.0
2,0.0,5.0,77.0,27840.0,2599.0,9499.0,37.1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,2019,687.0
3,0.0,2.0,18.0,28000.0,590.0,15486.0,20.6,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,702.0
4,0.0,3.0,65.0,130000.0,17163.0,7970.0,77.6,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,2019,697.0

In [26]:
for i in range(len(df_18.columns)):
    if sorted(list(df_18.columns))[i] != sorted(list(df.columns))[i]:
        print(str(i)+': '+sorted(list(df_18.columns))[i]+', '+ sorted(list(df.columns))[i])

92: status_late__16_30_days_, status_issued
93: status_late__31_120_days_, status_late__16_30_days_
94: term_6_yr, status_late__31_120_days_
95: title_business, term_6_yr
96: title_car_financing, title_business
97: title_credit_card_refinancing, title_car_financing
98: title_debt_consolidation, title_credit_card_refinancing
99: title_green_loan, title_debt_consolidation
100: title_home_buying, title_green_loan
101: title_home_improvement, title_home_buying
102: title_major_purchase, title_home_improvement
103: title_medical_expenses, title_major_purchase
104: title_moving_and_relocation, title_medical_expenses
105: title_vacation, title_moving_and_relocation
106: year, title_vacation

In [27]:
df.drop(columns='status_issued', inplace=True)

In [28]:
print(df.shape)
df_18.shape

(352785, 107)

(452886, 107)

In [29]:
df.to_csv(path_or_buf='year/year_2019.csv', index = False)

In [21]:
default = df.loc[df['status_default']==1]
default.shape

(172, 108)

In [22]:
default.head()

,acc_now_delinq,acc_open_past_24mths,all_util,annual_inc,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,debt_settlement_flag,delinq_2yrs,...,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation,year,fico_avg
239,0.0,6.0,49.0,95000.0,9608.0,55589.0,36.8,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,727.0
4912,0.0,6.0,29.0,75000.0,9810.0,8072.0,21.6,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,2019,662.0
5952,0.0,10.0,38.0,175000.0,7697.0,48632.0,43.4,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,717.0
15406,0.0,6.0,75.0,117000.0,4420.0,9732.0,59.6,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,717.0
19241,0.0,9.0,53.0,98000.0,3448.0,5137.0,21.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2019,662.0